<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
     <h1> Editar tarefa </h1>

      <form method="post">

        {% csrf_token %}
        
        <div class="mb-3">
            <label for="titulo" class="form-label"> Editar título</label>
            <input type="text" class="form-control" id="titulo" value="{{ tarefa.titulo }}" name="titulo" placeholder="Digite o título da tarefa">
        </div>
        <div class="mb-3">
            <label for="descricao" class="form-label"> Editar descrição</label>
            <input type="text" class="form-control" id="descricao" value="{{ tarefa.descricao }}" name="descricao" placeholder="Digite a descrição da tarefa">
        </div>
        <div class="mb-3">
            <label for="date" class="form-label"> Editar data </label>
            <input type="date" class="form-control" id="date" value="{{ tarefa.data }}" name="data">
        </div>
        <div class="mb-3">
            <label for="checkbox" class="form-label"> Concluído </label>
            <input type="checkbox" class="form-check-input" id="checkbox" name="status" {% if tarefa.status %}checked{% endif %}>
        </div>
        <button type="submit" class="btn btn-primary" href="{% url 'tarefas' %}">Salvar</button>
      
    </form>
    </body>
</html>