{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controlador de tarefas</title>
    <link rel="stylesheet" href="{% static 'app_ControleDeTarefas/styles/index.css' %}">

</head>
<body>
    <h1>Cadastro</h1>
    <img src="{% static 'app_ControleDeTarefas/imagens/roxo.jpg' %}">

    <form method ="post">
        <label for="nome"> Email: </label>
        <input type ="text" id="nome" name="nome" placeholder="Digite seu email: "><br></br>

        <label for="nome"> Senha: </label>
        <input type ="text" id="senha" name="senha" placeholder="Digite sua senha: "><br></br>

        <button type="submit">Entrar</button>

    </form>
</body>
</html>