{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controlador de tarefas</title>
    <link rel="stylesheet" href="{% static 'app_ControleDeTarefas/styles/index.css' %}">

</head>
<body>
    <h1>Login</h1>
   
    <form method ="post" action="{% url 'tarefas' %}">
        {% csrf_token %} 
        
        <div class="container">
            <label for="nome"> Email: </label>
            <input type ="text" id="nome" name="nome" placeholder="Digite seu email: "><br></br>
       
            <label for="senha"> Senha: </label>
            <input type ="password" id="senha" name="senha" placeholder="Digite sua senha: "><br></br>
        
        <button type="submit" >Entrar</button>
        <div>             

    </form>
</body>
</html>